<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Vue - ToDoList</title>
</head>
<body>

<div id="app">
    
    <div class="d-flex flex-column fw-bold">
        <div class="container header">
            <h3 class="text-center display-4 fw-bold mb-5 text-uppercase">My To Do List</h3>
            <input type="text" v-model="newTask" @keyup.enter="aggiungiTask">
            <span @click="aggiungiTask" class="button-add">Aggiungi</span>
            <div v-if="errore" class="fs-5 errore">Il task deve essere di almeno 3 caratteri</div>
        </div>
        <div class="container p-0">
            <ul v-if="lista.length > 0" class="p-0">
                <li v-for="(item, index) in lista" :key="index" class="" :class="item.done === true ? 'underline' : ''" @click="taskCompletato(index)">
                    <span class="text-capitalize">{{item.testo}}</span>
                    <span @click="rimuoviTask(index)" class="close">&#10005;</span>
                </li>
            </ul>
            <div v-else class="text-center mt-5 fs-2">Non ci sono cose da fare</div>
        </div>
    </div>

</div>



<script src="./js/script.js">

</script>

</body>
</html>